

head {
  font-size:50px;
  text-align:center;
}

h1 {
    font-size:42px;
    margin-left: 100PX;
  }

body {
  font-size:22px;
  text-align:center;
  height: 100%;
  width: 100%;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
    float: right;
  width:1em;
  padding:1em;
  margin:1em 1em;
  display: inline-table;
  border:none;
  background:#f1f1f1;
  vertical-align: middle;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:#ddd;
  outline:none;
  vertical-align: middle;
}

hr {
  border:1px solid #f1f1f1;
  margin-bottom:25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
      border: none;
      color: white;
      padding: 150px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
}

footer {
  position: fixed;
  text-align: center;
  color: black;
  background-color: #f1f1f1;
  padding: 1em;
}

form {
  background-color: grey;
}
